.our-history {
    width: 100%;
    height: auto;
    padding: 120px 0 110px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1050px) {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .left {
            width: 50%;

            img {
                width: 100%;
                transform: scale(0.9);
                padding-top: 46px;
            }
        }

        .rigth {
            width: 50%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            @media screen and (max-width: 1050px) {
                align-items: center;
            }

            h2 {
                font: 36px 'SourceSansPro-Regular', sans-serif;
                font-weight: bold;
                color: $text-dark-color;
                margin-left: 29px;
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    width: 6px;
                    height: 36px;
                    background-color: #e74c3c;
                    position: absolute;
                    left: -29px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            p {
                font: 14px 'SourceSansPro-Regular', sans-serif;
                color: $new-grey;
                margin: 0;
                line-height: 1.5;

                @media screen and (max-width: 1050px) {
                    text-align: center;
                }
            }

            .down {
                margin-top: 40px;
            }

            button {
                width: 225px;
                height: 55px;
                background-color: $red;
                font: 14px 'OpenSans-Bold', sans-serif;
                border: none;
                border-radius: 4px;
                color: $white;
                margin-top: 47px;
                outline: none;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}