@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../../fonts/OpenSans-Regular.eot),
         url(../../fonts/OpenSans-Regular.ttf),
         url(../../fonts/OpenSans-Regular.woff);
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url(../../fonts/OpenSans-Bold.eot),
         url(../../fonts/OpenSans-Bold.ttf),
         url(../../fonts/OpenSans-Bold.woff);
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url(../../fonts/OpenSans-SemiBold.eot),
         url(../../fonts/OpenSans-SemiBold.ttf),
         url(../../fonts/OpenSans-SemiBold.woff);
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url(../../fonts/OpenSans-Light.eot),
         url(../../fonts/OpenSans-Light.ttf),
         url(../../fonts/OpenSans-Light.woff);
}
@font-face {
    font-family: 'OpenSans-Italic';
    src: url(../../fonts/OpenSans-Italic.eot),
         url(../../fonts/OpenSans-Italic.ttf),
         url(../../fonts/OpenSans-Italic.woff);
}
@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url(../../fonts/SourceSansPro-Regular.eot),
         url(../../fonts/SourceSansPro-Regular.ttf),
         url(../../fonts/SourceSansPro-Regular.woff);
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url(../../fonts/MyriadPro-Regular.eot),
         url(../../fonts/MyriadPro-Regular.ttf),
         url(../../fonts/MyriadPro-Regular.woff);
}