// Colors
$white: #ffffff;
$black: black;
$light: #f4f5f9;
$border-light-color: #e5e5e5;
$light-grey: #cbc6c0;
$grey: #4a4c55;
$dark-grey: #706964;
$red: #e74c3c;
$brown: #3c3530;
$text-dark-color: #6a6a6a;
$new-grey: #999999;
$service-bg: #202020;
$dots: #3e3e3e;